.btn {
    width: 75px;
}

/*Index, Details image size - not working*/
.imageThumbnail {
    height: 150px;
    width: 150px;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}