@{
    ViewBag.Title = "Error Page";
}

<div>
    <h2>Error!</h2>
    <h5>
        Sorry, en error occur. The support team is notified and we are working on the fix.
    </h5>
</div>

<div>
    <a asp-action="index" asp-controller="home" class="btn btn-success" style="width:auto">Back to home</a>
</div>