@{
    ViewBag.Title = "Access Denied";
}


<div class="text-center text-danger">
    <h1>
        @ViewBag.Title
    </h1>
    <h6>
        You do not have permissions to view this resource
    </h6>
    <canvas id="myCanvas" width="200" height="100" style="border:1px solid #000000;">
    </canvas>
</div>

<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.beginPath();
    ctx.arc(95, 50, 40, 0, 2 * Math.PI);
    ctx.fillStyle = "#FF0000"; 
ctx.stroke();
</script> 